* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #506adb;
  flex-direction: column;
}

.container {
  width: 400px;
  height: 100px;
  background: white;
  padding: 28px 32px;
  border-radius: 20px;
  transition: 0.6s ease-out;
}

.search-box {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-box input {
  color: #506adb;
  width: 80%;
  font-size: 24px;
  padding-left: 35px;
  text-transform: uppercase;
}

.search-box input::placeholder {
  font-size: 15px;
  color: #506adb;
}

.search-box button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: #506adb;
  border-radius: 50%;
  color: white;
}

.card {
  width: 300px;
  background-color: white;
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
}

h1 span{
  color: #f39c12; font-size: 3rem"
}

h1{
  color: white;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 100px;
}